body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f0f4ff, #e6f0ff);
    color: #333;
}

main {
    margin: 50px auto;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Encabezado */
header {
    text-align: center;
    padding: 2.5rem 1rem;
    background: linear-gradient(135deg, #4a90e2, #357ABD);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 0;
    color: #555;
}

form {
    width: 100%;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
}

#contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;

}

#contenedor>input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

#contenedor>input:focus {
    border-color: #4a90e2;
    outline: none;
}